{% extends "base.html.twig" %}




{% block body %}

<div class="page-header">
<div class="row">
<div class="col-sm-6">
<h3 class="page-title">Settings</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">Dashboard</a>
</li>
<li class="breadcrumb-item active">Delete Account</li>
</ul>
</div>
</div>
</div>
<div class="row">
<div class="col-xl-3 col-md-4">

<div class="widget settings-menu">
<ul>
<li class="nav-item">
<a href="{{ path('settings', {'id': app.user.id}) }}"class="nav-link">
<i class="far fa-user"></i> <span>Profile Settings</span>
</a>
</li>
<li class="nav-item">
<a href="{{ path('change_password')}}" class="nav-link">
<i class="fas fa-unlock-alt"></i> <span>Change Password</span>
</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link active">
<i class="fas fa-ban"></i> <span>Delete Account</span>
</a>
</li>
</ul>
</div>

</div>
<div class="col-xl-9 col-md-8">
<div class="card">
<div class="card-header">
<h5 class="card-title">Delete your account</h5>
</div>
<div class="card-body">
<form action="{{ path('delete_user', {'id': app.user.id}) }}">
<p class="card-text">When you delete your account, you lose access to Kanakku account services, and we permanently delete your personal data.</p>
<p class="card-text">Are you sure you want to close your account?</p>
<div class="form-group">
<div class="custom-control custom-checkbox">
<input name="terms"type="checkbox" class="custom-control-input" required id="delete_account">
<label class="custom-control-label text-danger" for="delete_account">Confirm that I want to delete my account.</label>
</div>
</div>
<div class="text-end">
 <button type="submit"  class="btn btn-primary" >Valider</button>
</div>
</form>

</div>
</div>
</div>
</div>
</div>
</div>

</div>
 {% endblock %}
